<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% block stylesheets %} 
{% endblock %}
</head>
{% block content %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
{% endblock %}
{% block body %} 
{% endblock %}
<!--bodywrapper-->
{% block javascripts %}
{% endblock %}
</html>

